* { padding: 0; margin: 0; border: 0; } 
html {
    background: none repeat scroll 0 0 #FFFFFF!important;
    color: #000000;
    }
body, div, dl, dt, dd, ul, ol, li, h2, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
    }
table {
    border-collapse: collapse;
    border-spacing: 0;
    }
fieldset, img {
    border: 0 none;
    }
address, caption, cite, code, dfn, em, strong, th, var {
    font-style: normal;
    font-weight: normal;
    }
li {
    list-style: none outside none;
    }
caption, th {
    text-align: left;
    }
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
    }

q:before, q:after {
    content: "";
    }
abbr, acronym {
    border: 0 none;
    font-variant: normal;
    }
sup {
    vertical-align: text-top;
    }
sub {
    vertical-align: text-bottom;
    }
input, textarea, select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    }
input, textarea, select {
    }
legend {
    color: #000000;
    }
body {
    font: 13px/1.231 '微软雅黑',arial,helvetica,clean,sans-serif;
    }
select, input, button, textarea {
    font: 99% arial,helvetica,clean,sans-serif;
    }
table {
    font-size: inherit;
    }
pre, code, kbd, samp, tt {
    font-family: monospace;
    line-height: 100%;
    }
a {
    color: black;
    text-decoration: none;
    }
a:hover, a:focus {
    text-decoration: none;
    }
strong {
    font-weight: bold;
    }
input[type="submit"] {
    cursor: pointer;
    }
button {
    cursor: pointer;
    }
.clearfix { *zoom:1; }
ul li{
    list-style-type:none:
    }
.clearfix:after{
        content: ".";
        display: block;
        height: 0; 
        clear: both;
        visibility: hidden;     
}
.header{
    position: relative;
    z-index: 1;
    background-color: rgb(51,57,69);
}
.header-center{
    width: 80%;
    margin: 0 auto;
}
.header-center h2{
    background:url(../images/logoair.png) no-repeat;
    background-position: 160px 20px;
    padding-right: 70px;
    float: left;
    line-height: 94px;
    font-size: 52px;
    color:white;
}
.header-center li{
    float:right;
    height: 94px;
    line-height: 94px;
    font-size: 19px;
    text-align: center;
    width:70px;
}
.header-center a{
    display: inline-block;
    color:white;
    padding-bottom: 26px;
    width: 100%;
    z-index:1;
    -ms-transform: ease-out 0.3s; 
    -moz-transition: ease-out 0.3s; 
    -o-transition: ease-out 0.3s;
    -webkit-transition: ease-out 0.3s;
    transition:ease-out 0.3s;
    transition-property:font-size;
}
.header-center a:hover{
    background-image: url(../images/logoarror.png);
    background-repeat: no-repeat;
    background-size:100% 100%;
    font-size: 21px;
}
.main{
    position: relative;
    z-index: 0;
}
.main-top{
    height: 730px;
    background-image: url(../images/bannerview.png);
    background-size:100% 100%;
    position: relative;
     z-index:-1;
}
.main-top h2{
    display: inline-block;
    font-size: 105px;
    font-family: 'Microsoft JhengHei';
    width: 530px!important;
    height: 150px!important;
    color: white;
    padding: 55px 75px;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}
.main-top-line{
    position:absolute; 
    background: #fff;       
}
.main-top-line-top{
    width:50%;
    height:2px;
    left:-2px;
    top:-2px;
}
.main-top-line-right{
    width:2px;
    height:50%;
    right:-2px;
    top:50%;
}
.main-top-line-bottom{
    width:50%;
    height:2px;
    left:50%;
    top:100%;
}
.main-top-line-left{
    width:2px;
    height:50%;
    left:-2px;
    top:-2px;
}
.main-top-box{
    width: 500px;
    height: 150px;
    margin: auto;
    position: absolute;
    top: 60%; left: 0; bottom: 0; right: 0;
}
.main-top-box p{
    font-family: 'Microsoft JhengHei';
    float: left;
    color:white;
    font-size: 32px;
    padding: 25px 10px 0px 30px;
}
.main-top-box span{
    font-family: 'Microsoft JhengHei';
    float: left;
    font-size: 60px;
    color:white;
}
.main-top-box a{
    font-family: 'Microsoft JhengHei';
    float: left;
    display: block;
    width: 127px;
    height: 55px;
    padding: 0px!important;
    border-radius: 5px;
    line-height: 55px;
    font-size: 45px;
    text-align: center;
    margin: 10px 0px 0px 30px;
    background: url(../images/bannerbutton.png) no-repeat;
    color:white;
    z-index:30;
}
.main-container-top{
    margin: 0 auto;
    width: 80%;
}
.main-container-top p{
    line-height: 35px;
    padding: 80px 0px;
    color:rgb(93,96,104);
    font-size: 21px;
    text-align:justify;
    text-justify:inter-ideograph;
}
.main-container-mid{
    margin: 0 auto;
    width: 80%;
}
.main-container-mid-similar{
    width:45%;
    float: left;
}
.main-container-mid-similar img{
    display: block;
    width: 100%;
}
.main-container-mid-similar p{
    line-height: 35px;
    display: block;
    padding: 50px 50px;
    color:rgb(93,96,104);
    font-size: 21px;
    border: 1px solid #999;
    border-top: none;
    text-align:justify;
    text-justify:inter-ideograph;
}
.main-container-mid-lside{
    margin-right: 9%;
}
.main-container-bottom{
    margin: 50px auto;
    width: 80%;
}
.main-container-bottom h2{
    font-family: 'Microsoft JhengHei';
    color: #333965;
    font-size: 56px;
    padding-top: 50px;
    padding-bottom: 30px;
}
.main-container-bottom a{
    font-family: 'Microsoft JhengHei';
    display: block;
    width: 100%;  
    height:60px;
    padding-top: 33.5%;
    padding-bottom: 33.5%;
    line-height: 60px;
    font-size: 54px;
    color: white;
    float: left;
    text-align: center;
    background: url(../images/bottom.png);
    -ms-transform: ease-out 0.5s; 
    -moz-transition: ease-out 0.5s; 
    -o-transition: ease-out 0.5s;
    -webkit-transition: ease-out 0.5s;
    transition:ease-out 0.5s;
    transition-property:font-size,opacity;
}
.main-container-bottom a:hover{
    font-size:62px;
    opacity:0.7;
}
.main-container-bottom li{
    float: left;
    display: block;
    width: 22.5%;
    margin-left:3%;
    background: black;
}
.main-container-bottom-different{
    margin-left:0px!important;
}
.footer{
    background-color: rgb(51,57,69);
}
.footer-center{
    width: 60%;
    margin: 0 auto;
}
.footer-center li{
    padding-top: 50px;
    display: inline-block;
    float: left;
    width:12.5%;
    text-align: center;
}
.footer-center a{ 
    display: inline-block;   
    color:white;
    color:rgba(255,255,255,0.8);
    margin:0 auto;
    font-size: 16px; 
    padding-bottom: 30px;
}
.footer-center a:hover{
    color: rgb(25,118,210);
}
.footer-center p{
    text-align: center;
    font-size: 16px;
    color:white;
    color:rgba(255,255,255,0.8);
    padding-bottom: 50px;
}
@media  (min-width:0px) and (max-width:1080px)
{
    .footer-center{
    width: 80%;
    margin: 0 auto;
    }
}
@media  (min-width:0px) and (max-width:825px)
{
    .header-center{
    width: 95%;
    margin: 0 auto;
    }
}